Django==4.2.7
boto3==1.28.62
celery==5.3.4
channels[daphne]==4.0.0
channels-redis==4.1.0
django-celery-beat==2.7.0
django-cors-headers==4.3.0
django-cacheops==7.0.2
django-filter==23.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.3.0
django-storages==1.14.1
django-extensions==3.2.3
django-simple-history==3.4.0
factory-boy==3.3.0
ipython==8.16.1
pillow==10.0.1
pydifact==0.1.6
python-decouple==3.8
pytest-cov==4.1.0
pytest-django==4.5.2
psycopg2-binary==2.9.9
redis==5.0.1
django-redis==5.4.0
requests==2.31.0
sentry-sdk[django]==2.3.1
